{% extends 'main/layout.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="container">
          <!-- Page Header-->
          <header> 
            <ol class="breadcrumb mb-1 mt-1">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
              {% if page == "form" %}
              <li class="breadcrumb-item"><a href="{% url 'EnfermariaList' %}">Lista Enfermaria</a></li>
              {%endif%}
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </header>
                    {% if messages %}
                        {% for message in messages %} 
                            <div class="alert alert-{{ message.tags }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
          {% if page == "list" %}
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex justify-content-end text-center">
                  <div class="text-center border">
                     <!-- <a href="{% url 'addEnfermaria' %}" class="btn btn-sm btn-info" title="Add Data"><i class="fa fa-plus-square"></i> Adisiona Enfermaria</a> -->
                  </div>
                  <div class="text-center border">
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example"  class="table table-hover table-striped w-100">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Naran Kompletu</th>
                          <th>Seksu</th>
                          <th>Data Moris</th>
                          <th>Hela Fatin</th>
                          <th>Grupu Ran</th>
                          <th>Todan</th>
                          <th>Tensaun</th>
                          <th>Enfermaria</th>
                          <th width="15%">Asaun</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in patientList %}
                        <tr>
                          <td scope="row"> {{forloop.counter}} </td>
                          <td>{{data.firstname}} {{data.lastname}}</td>
                          <td>{{data.sex}}</td>
                          <td>{{data.date_of_birth|date:"d-M-Y"}}</td>
                          <td>{{data.address}}</td>
                          <td>{{data.bloodGroup}}</td>
                          <td>{{data.weight}}</td>
                          <td>{{data.pressure}}</td>
                          <td>{{data.enfermaria}}</td>
                          <td>
                            <div class="d-flex">
                              <div class="flex-fill"><a href="{% url 'updateEnfermaria' data.id %}" class="btn btn-sm btn-primary" title="Update"><i class="fa fa-pencil"></i></a></div>
                              <div class="flex-fill"> <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button></div>
                            </div>
                           </td>

                          <div class="modal fade" id="delete-{{ data.id}}"><!-- modal -->
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Delete Enfermaria</h4>
                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                  Ita Boot hakarak hamoos Dadus Enfermaria ho naran {{data.name}}?
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                  <a href="{% url 'deleteEnfermaria' data.id %}" class="btn btn-info">Yes</a>
                                </div>
                              </div>
                            </div>
                        </div><!-- endmodal -->
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <ol class="breadcrumb mb-2 mt-1">
                <li class="breadcrumb-item"><a style="text-decoration: none;" href="{% url 'b-patient-list' %}">All <span class="badge badge-warning">{{ listaPasienteCount }}</span></a></li>
            {% for t in sumariuGrupuRan %}
                <li class="breadcrumb-item"><a style="text-decoration: none;" href="{% url 'b-patient-list-bloodgroup' t.id %}">Grupu Ran {{ t.grupuran }} <span class="badge badge-warning">{{ t.totalPasiente }}</span></a></li>
            {% endfor %}
            </ol>
          {% endif %}
          {% if page == "form" %}
          <div class="row">
            {% include 'conf_side/conf_list.html' %}
            <div class="col-lg-9">
              <div class="card">
                <div class="card-header d-flex justify-content-end text-center">
                  <div class="text-center border">
                  </div>
                </div>
                <div class="card-body">
                  {% csrf_token %}
                  {% crispy form %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
      </section>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready( function () {
        var table = $('#example').removeAttr('width').DataTable( {
            
        });
    } );
</script>
{% endblock %}